RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^help(.*)$ /index.php?data=help$1
RewriteRule ^user(.*)$ /index.php?data=user$1
RewriteRule ^driver(.*)$ /index.php?data=driver$1
